In [10]:
# question 1
r=int(input('Enter the Radius of the circle'))
area=pi*r**2
print('area of the circle is ',area)

Enter the Radius of the circle3
area of the circle is  28.26

In [15]:
#question 2

a=input('enter your name')
b=input('enter your roll no.')
c=input('enter your mark')

print('Name: ', a)
print('Roll no.: ',b)
print('Mark: ',c)

enter your nameanisha
enter your roll no.21
enter your mark78
Name:  anisha
Roll no.:  21
Mark:  78

In [16]:
# question 3

lis=[2,5,6,33,22,1]
print(max(lis),'is the largest no.')

33 is the largest no.

In [29]:
# question 4

for i in range(10):
  b=i+(i+1)
  print('current number ',i+1)
  print('previous number ',i)
  print('sum is ', b)

current number  1
previous number  0
sum is  1
current number  2
previous number  1
sum is  3
current number  3
previous number  2
sum is  5
current number  4
previous number  3
sum is  7
current number  5
previous number  4
sum is  9
current number  6
previous number  5
sum is  11
current number  7
previous number  6
sum is  13
current number  8
previous number  7
sum is  15
current number  9
previous number  8
sum is  17
current number  10
previous number  9
sum is  19

In [28]:
#question 5

a=[12,3,5,10,22,25,35,3,45]
for i in a:
  if i%5==0:
    print(i)

5
10
25
35
45

In [59]:
#question 6

prime=int(input('Enter the number'))
if prime <=1:
  print('invalid')
else:
    for i in range(2,prime):
      if prime % i==0:

        print(prime ,'is not prime number')
        break
    else:
      print(prime ,' is prime number')

Enter the number3
3  is prime number

In [67]:
#question 7

a=[10,40,30,70]

for i in range(len(a)-1,-1,-1):
  print(a[i])

70
30
40
10

In [75]:
#8

for i in range(5):
  for j in range(1,i+1):
    print('*',end='')

  print()

*
**
***
****

In [1]:
#9

n=(34,12,7)
max(n)

34

In [12]:
#10

for i in range(5):
  for j in range(1,i+1):
    print('*',end='')

  print()

for i in range(5):
  for j in range(i,5-1):
    print('*',end='')

  print()

*
**
***
****
****
***
**
*